<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Recon Report for {{domain}}</title>
        <style>.status.redirect{color:#d0b200}.status.fivehundred{color:#DD4A68}.status.jackpot{color:#0dee00}img{padding:5px;width:360px}img:hover{box-shadow:0 0 2px 1px rgba(0,140,186,.5)}pre{font-family:Inconsolata,monospace}pre{margin:0 0 20px}pre{overflow-x:auto}article,header,img{display:block}#wrapper:after,.blog-description:after,.clearfix:after{content:}.container{position:relative}html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}h1{margin:.67em 0}h1,h2{margin-bottom:20px}a{background-color:transparent;-webkit-text-decoration-skip:objects;text-decoration:none}.container,table{width:100%}.site-header{overflow:auto}.post-header,.post-title,.site-header,.site-title,h1,h2{text-transform:uppercase}p{line-height:1.5em}pre,table td{padding:10px}h2{padding-top:40px;font-weight:900}a{color:#00a0fc}body,html{height:100%}body{margin:0;background:#fefefe;color:#424242;font-family:Raleway,-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Oxygen,Ubuntu,'Helvetica Neue',Arial,sans-serif;font-size:24px}h1{font-size:35px}h2{font-size:28px}p{margin:0 0 30px}pre{background:#f1f0ea;border:1px solid #dddbcc;border-radius:3px;font-size:16px}.row{display:flex}.column{flex:100%}table tbody>tr:nth-child(odd)>td,table tbody>tr:nth-child(odd)>th{background-color:#f7f7f3}table th{padding:0 10px 10px;text-align:left}.post-header,.post-title,.site-header{text-align:center}table tr{border-bottom:1px dotted #aeadad}::selection{background:#fff5b8;color:#000;display:block}::-moz-selection{background:#fff5b8;color:#000;display:block}.clearfix:after{display:table;clear:both}.container{max-width:100%}#wrapper{height:auto;min-height:100%;margin-bottom:-265px}#wrapper:after{display:block;height:265px}.site-header{padding:40px 0 0}.site-title{float:left;font-size:14px;font-weight:600;margin:0}.site-title a{float:left;background:#00a0fc;color:#fefefe;padding:5px 10px 6px}.post-container-left{width:49%;float:left;margin:auto}.post-container-right{width:49%;float:right;margin:auto}.post-header{border-bottom:1px solid #333;margin:0 0 50px;padding:0}.post-title{font-size:55px;font-weight:900;margin:15px 0}.blog-description{color:#aeadad;font-size:14px;font-weight:600;line-height:1;margin:25px 0 0;text-align:center}.single-post-container{margin-top:50px;padding-left:15px;padding-right:15px;box-sizing:border-box}body.dark{background-color:#1e2227;color:#fff}body.dark pre{background:#282c34}body.dark table tbody>tr:nth-child(odd)>td,body.dark table tbody>tr:nth-child(odd)>th{background:#282c34}input{font-family:Inconsolata,monospace} body.dark .status.redirect{color:#ecdb54} body.dark input{border:1px solid ;border-radius: 3px; background:#282c34;color: white} body.dark label{color:#f1f0ea} body.dark pre{color:#fff}</style>
        <script>
            document.addEventListener('DOMContentLoaded', (event) => {
                ((localStorage.getItem('mode') || 'dark') === 'dark') ? document.querySelector('body').classList.add('dark') : document.querySelector('body').classList.remove('dark')
            })
        </script>
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-lite/1.1.0/material.min.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/dataTables.material.min.css">
        <style>a{color:#ffea40}</style>
        <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.js"></script>
        <script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
        <script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/dataTables.material.min.js"></script>
        <script>$(document).ready(function () {
                $("#tsubdomains").DataTable({
                    "paging": true,
                    "ordering": true,
                    "info": false,
                    "lengthMenu": [[10, 25, 50, 100, -1], [10, 25, 50, 100, "All"]],
                });
            });
        </script>
    </head>
    <body class="dark">
        <header class="site-header">
            <div class="site-title"><p></p></div>
        </header>
        <div id="wrapper">
            <div id="container">
                <h1 class="post-title" itemprop="name headline">Recon Report for <a href="http://{{domain}}">{{domain}}</a></h1>
                <p class="blog-description">Generated by GhostRecon on {{datetime}} </p>
                <div class="mdl-typography--text-right">
                  <a href="{{download}}" class="mdl-cell mdl-cell--6-col-desktop mdl-cell--4-col-tablet mdl-cell--2-col-phone">
                    <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon" data-upgraded=",MaterialButton,MaterialRipple">
                      <i class="material-icons">file_download</i>
                      <span class="mdl-button__ripple-container"><span class="mdl-ripple"></span></span>
                    </button>
                    Download
                  </a>
                </div>
                <div class="container single-post-container">
                    <article class="post-container-left" itemscope="" itemtype="http://schema.org/BlogPosting">
                        <header class="post-header"></header>
                        <div class="post-content clearfix" itemprop="articleBody">
                            <h2>Total scanned subdomains</h2>
                            <table id="tsubdomains" class="stripe">
                                <thead>
                                    <tr>
                                        <th>Subdomains</th>
                                        <th>Scanned Urls</th>
                                    </tr>
                                </thead>
                                <tbody>{{subdomains}}</tbody>
                            </table>
                            <div><h2>Host Info</h2></div>
                            <pre>{{host}}</pre>
                            <div><h2>NMAP Results</h2></div>
                            <pre>{{nmap}}</pre>
                        </div>
                    </article>
                    <article class="post-container-right" itemscope="" itemtype="http://schema.org/BlogPosting">
                        <header class="post-header"></header>
                        <div class="post-content clearfix" itemprop="articleBody">
                            <h2>Dig Info</h2>
                            <pre>{{dig}}</pre>
                            <h2>Whois Info</h2>
                            <pre>{{whois}}</pre>
                        </div>
                    </article>
                </div>
            </div>
        </div>
        <footer>
            <div class="mdl-typography--text-right">{{pagination}}</div>
        </footer>
    </body>
</html>
